.katex-display {
  margin: 0.25em 0 !important;
}

.dg input, .dg select {
  color: black;
  line-height: normal !important;
}

.dg li {
  list-style: none !important;
}

.dg li > * {
  margin-bottom: 0 !important;
}

.dg input, .dg select {
  padding: 3px !important;
  display: block !important;
  box-shadow: none !important;
  font-size: 100% !important;
  border: 0 !important;
}

.dg.a {
  margin-right: 0 !important;
}

.dg li {
  margin: 0 !important;
}

.dg.main {
  max-height: inherit !important;;
}

.dg.main .close-button.close-bottom {
  position: relative !important;
}

.dg.main.taller-than-window .close-button.close-bottom {
  position: absolute !important;
  bottom: 0 !important;
}

.dg.main.taller-than-window > ul > li:last-child {
  margin-bottom: 20px !important;
}

.k3d-target canvas {
  position: relative;
  z-index: 10;
}

.k3d-transfer-function {
  height: 100% !important;
}

.k3d-transfer-function circle {
  cursor: move;
}

.k3d-transfer-function circle.selected {
  /*stroke: red;*/
}

.k3d-color-picker {
  display: none;
}

