.idea/
.vscode/
.gitattributes
*.egg-info/
js/dist/
js/build/
node_modules/
k3d/static/
.DS_Store
.pypirc
*.pyc
*~
.ipynb_checkpoints/
build/
dist/
js/test/assets/Lato-Regular.ttf
js/dev
examples/*.vtk
examples/*.vtp
examples/*.js
examples/*.gz
k3d/labextension/
k3d/test/results/*
node_modules
yarn.lock
k3d/labextension/
/docs/source/_static/standalone.js
/docs/source/_static/require.js
/docs/source/_static/k3d.js
