.idea/
.vscode/
.gitattributes
*.egg-info/
js/dist/
js/build/
js/node_modules/
k3d/static/
.DS_Store
.pypirc
*.pyc
*~
.ipynb_checkpoints/
build/
dist/
js/test/assets/Lato-Regular.ttf
js/dev
examples/*.vtk
examples/*.vtp
examples/*.js
examples/*.gz
docs/source/_static/k3d.js
docs/source/_static/standalone.js
k3d/test/results/*