.p-Widget .jp-OutputArea-output {
    width: 100%;
}

.dg input, .dg select {
    box-shadow: none;
}

.dg.main ul {
    margin-bottom: 0;
}

.dg li {
    list-style: none !important;
    margin: 0 !important;
}