.p-Widget .jp-OutputArea-output {
    width: 100%;
}

.p-Widget .jp-OutputArea-output .dg * {
    box-shadow: none;
}

.rst-content .section .p-Widget .jp-OutputArea-output li,
.rst-content .section .p-Widget .jp-OutputArea-output ul {
    margin-left: 0;
}

.wy-nav-content {
    max-width: 1072px;
}

.dg .cr.color {
    display: block;
}

.k3d_plot {
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}

i.fa-box-open:before {
    color: #0073b7;
}
 
i.fa-circle-notch:before {
    color: #44a833;
}