.p-Widget .jp-OutputArea-output {
    width: 100%;
}

.p-Widget .jp-OutputArea-output .dg * {
    box-shadow: none;
}

.rst-content .section .p-Widget .jp-OutputArea-output li,
.rst-content .section .p-Widget .jp-OutputArea-output ul {
    margin-left: 0;
}

.wy-nav-content {
    max-width: 1072px;
}

#gallery {
    text-align: center;
}

#gallery h1 {
    text-align: left;
}

.dg .cr.color {
    display: block;
}