name: Test

on: [push, pull_request]

jobs:
  test:
    name: Run pytest on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install
        run: python -m pip install -e ".[dev,examples]"
      - name: Run tests
        run: cd k3d && python -m pytest
      - uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: comparison_results
          path: ./k3d/test/results/*
      - uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: npm logs
          path: /home/runner/.npm/_logs/*